<!DOCTYPE html>
<html>
<head>
	<title>Form Alumnos</title>
	<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
	<div class="grid-container">
			<div class="boton-nav"><a href="C:\Users\AMD\Desktop\ProyectoSUP7\Frontend\form.html" class="nav-enlace">Form</a></div>
			<div class="boton-nav"><a href="C:\Users\AMD\Desktop\ProyectoSUP7\Frontend\games.html" class="nav-enlace">Juegos</a></div>
			<div class="boton-nav"><a href="C:\Users\AMD\Desktop\ProyectoSUP7\Frontend\charla.html" class="nav-enlace">Temas</a></div>
			<div class="boton-nav"><a href="C:\Users\AMD\Desktop\ProyectoSUP7\Frontend\datos.html" class="nav-enlace">Datos</a></div>
			<div class="boton-nav"><a href="C:\Users\AMD\Desktop\ProyectoSUP7\Frontend\login.html" class="nav-enlace">Login</a></div>
			<img src="https://i.imgur.com/gLnRwwI.png" class="logo">
	</div>
	<div class="form">
		<form>
			<p class="pregunta-form">¿Cuál es tu grupo de SUP? <input type="number" name="grupo_sup" placeholder="7" required=""></p>
			<p class="pregunta-form">Nombre <input type="text" name="nombre" placeholder="Nombre" required=""></p>
			<p class="pregunta-form">Apellido <input type="text" name="apellido" placeholder="Apellido" required></p>
			<p class="pregunta-form">Edad <input type="number" name="edad" placeholder="Edad" required></p>
			<p class="pregunta-form">Mail <input type="email" name="email" placeholder="email@gmail.com" required></p>
			<p class="pregunta-form">Nacionalidad <input type="text" name="nacionalidad" placeholder="Argentina" required></p>
			<p class="pregunta-form">País de residencia <input type="text" name="pais_residencia" placeholder="Argentina" required></p>
			<p class="pregunta-form">¿Trabaja y estudia?
				   <select name="ocupacion">
				     <option>Trabajo y estudio</option>
				     <option>Solo estudio</option>
				   </select></p>
			<p class="pregunta-form">¿Desde qué dispositivo se conecta al SUP? 
				<select name="dispositivo">
				     <option>PC o notebook</option>
				     <option>Celular, tablet o similar</option>
				   </select>
			<p class="pregunta-form">¿Tiene micrófono y cámara? <select name="mic_y_cam">
				     <option>Si, tengo ambos</option>
				     <option>Solo micrófono</option>
				     <option>Solo cámara</option>
				     <option>Ninguno</option>
				   </select></p>
			<p class="pregunta-form">¿Cuál cree que es la función del SUP? <select name="funcion_sup">
				     <option>Resolver dudas administrativas</option>
				     <option>Revisar la homework</option>
				     <option>Desarrollar las soft skills</option>
				     <option>Conocer compañeros</option>
				     <option>Jugar, charlar de la vida</option>
				     <option>No lo tengo en claro</option>
				   </select></p>
			<p class="pregunta-form">¿Qué le gustaría hacer durante el SUP? <select name="gustos_sup">
				     <option>Resolver dudas administrativas</option>
				     <option>Revisar la homework</option>
				     <option>Desarrollar las soft skills</option>
				     <option>Conocer compañeros</option>
				     <option>Jugar, charlar de la vida</option>
				     <option>No lo tengo en claro</option>
				     <option>Nada, sólo asisto porque es obligatorio</option>
				   </select></p>
			<input type="submit" name="submit" class="boton-form" value='Enviar el formulario'>
		</form>
	</div>
</body>
</html>