<!DOCTYPE html>
<html>
<head>
	<title>Juegos</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<header class="hero">
		<nav class="nav container">
			<div class="nav__logo">
				<h2 class="nav__title">TA TOOLS</h2>
			</div>
			<ul class="nav__link nav__link--menu">
				<li class="nav__items">
					<a href="/" class="nav__links" id="boton__inicio">Inicio</a>
				</li>
				<!-- <li class="nav__items">
					<a href="/form" class="nav__links" id="boton__form">Form</a>
				</li> -->
				<li class="nav__items">
					<a href="/juegos" class="nav__links">Juegos</a>
				</li>
				<li class="nav__items">
					<a href="/juegos" class="nav__links">Temas</a>
				</li>
				<!-- <li class="nav__items">
					<a href="/datos" class="nav__links">Datos</a>
				</li> -->
				<li class="nav__items">
					<a href="/login" class="nav__links">Login</a>
				</li>
			</ul>
		</nav>
		<div class = "container__maestro">
				<div class = "container__juegos">
					<a class= "coderush__card" href="https://code-rush-e6896.firebaseapp.com"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "CodeRush" src = https://imageup.me/images/32661edf-abc6-4d2e-99e7-7fa98e9eb039.png>
					</div>
					<div class = "content">
						<h3>Code Rush</h3>
						<p>Code rush es un juego blabla lore ipsum falopa falopa.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "shellshock__card" href="https://shellshock.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "ShellShocker" src = https://img.poki.com/cdn-cgi/image/quality=78,width=682,height=603,fit=cover,f=auto/bf22f04ef17a0a3da5dbedef9ac353af.png>
					</div>
					<div class = "content">
						<h3>Shell Shockers</h3>
						<p>Shell Shockers es un juego blabla lore ipsum falopa falopa.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "shellshock__card" href="https://shellshock.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "ShellShocker" src = https://img.poki.com/cdn-cgi/image/quality=78,width=682,height=603,fit=cover,f=auto/bf22f04ef17a0a3da5dbedef9ac353af.png>
					</div>
					<div class = "content">
						<h3>Shell Shockers</h3>
						<p>Shell Shockers es un juego blabla lore ipsum falopa falopa.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "shellshock__card" href="https://shellshock.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "ShellShocker" src = https://img.poki.com/cdn-cgi/image/quality=78,width=682,height=603,fit=cover,f=auto/bf22f04ef17a0a3da5dbedef9ac353af.png>
					</div>
					<div class = "content">
						<h3>Shell Shockers</h3>
						<p>Shell Shockers es un juego blabla lore ipsum falopa falopa.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "shellshock__card" href="https://shellshock.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "ShellShocker" src = https://img.poki.com/cdn-cgi/image/quality=78,width=682,height=603,fit=cover,f=auto/bf22f04ef17a0a3da5dbedef9ac353af.png>
					</div>
					<div class = "content">
						<h3>Shell Shockers</h3>
						<p>Shell Shockers es un juego blabla lore ipsum falopa falopa.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "shellshock__card" href="https://shellshock.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "ShellShocker" src = https://img.poki.com/cdn-cgi/image/quality=78,width=682,height=603,fit=cover,f=auto/bf22f04ef17a0a3da5dbedef9ac353af.png>
					</div>
					<div class = "content">
						<h3>Shell Shockers</h3>
						<p>Shell Shockers es un juego blabla lore ipsum falopa falopa.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "shellshock__card" href="https://shellshock.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "ShellShocker" src = https://img.poki.com/cdn-cgi/image/quality=78,width=682,height=603,fit=cover,f=auto/bf22f04ef17a0a3da5dbedef9ac353af.png>
					</div>
					<div class = "content">
						<h3>Shell Shockers</h3>
						<p>Shell Shockers es un juego blabla lore ipsum falopa falopa.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "shellshock__card" href="https://shellshock.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "ShellShocker" src = https://img.poki.com/cdn-cgi/image/quality=78,width=682,height=603,fit=cover,f=auto/bf22f04ef17a0a3da5dbedef9ac353af.png>
					</div>
					<div class = "content">
						<h3>Shell Shockers</h3>
						<p>Shell Shockers es un juego blabla lore ipsum falopa falopa.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "shellshock__card" href="https://shellshock.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "ShellShocker" src = https://img.poki.com/cdn-cgi/image/quality=78,width=682,height=603,fit=cover,f=auto/bf22f04ef17a0a3da5dbedef9ac353af.png>
					</div>
					<div class = "content">
						<h3>Shell Shockers</h3>
						<p>Shell Shockers es un juego blabla lore ipsum falopa falopa.</p>
					</div>
					</div>
				</div>
		</div>
	</header>
</body>
</html>