<!DOCTYPE html>
<html>
<head>
	<title>Juegos</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<header class="hero">
		<nav class="nav container">
			<div class="nav__logo">
				<h2 class="nav__title">TA TOOLS</h2>
			</div>
			<ul class="nav__link nav__link--menu">
				<li class="nav__items">
					<a href="/" class="nav__links" id="boton__inicio">Inicio</a>
				</li>
				<li class="nav__items">
					<a href="/juegos" class="nav__links">Juegos</a>
				</li>
				<li class="nav__items">
					<a href="/temas" class="nav__links">Temas</a>
				</li>
				<li class="nav__items">
					<a href="/form" class="nav__links" id="boton__form">Form</a>
				</li>
				<li class="nav__items">
					<a href="/datos" class="nav__links">Metricas</a>
				</li>
				<li class="nav__items">
					<a href="/asistencia" class="nav__links">Asistencia</a>
				</li>
			</ul>
		</nav>
		<div class = "container__maestro">
			<div class = "container__juegos">
				<a class= "gartic__card" href="https://garticphone.com/es"target="_blank">
				<div class = "card">
				<div class = "image">
					<img href = "Garticphone" src = https://media2.giphy.com/media/PduBTIJZimz0DwxsOk/giphy.gif?cid=790b7611327ec79e9b6173354ea5e5fbded7a53598c120ac&rid=giphy.gif&ct=s>
				</div>
				<div class = "content">
					<h3>Gartic Phone</h3>
					<p>Juego tipo Pictionary donde la gracia está en ver cómo al final de la partida la idea original fue cambiando a causa del teléfono descompuesto que se arma ronda tras ronda. Muy recomendado para romper el hielo entre los integrantes del SUP.</p>
				</div>
				</div>
			</div>
			<div class = "container__juegos">
				<a class= "coderush__card" href="https://code-rush-e6896.firebaseapp.com"target="_blank">
				<div class = "card">
				<div class = "image">
					<img href = "CodeRush" src = https://imageup.me/images/32661edf-abc6-4d2e-99e7-7fa98e9eb039.png>
				</div>
				<div class = "content">
					<h3>Code Rush</h3>
					<p>El objetivo de Code Rush es acumular la mayor cantidad de puntos juntando los archivos sueltos en las oficinas de Henry. ¡Este juego fue pensado para pasar un poco el rato mientras se charla o se decide qué más hacer en el SUP!</p>
				</div>
				</div>
			</div>
			<div class = "container__juegos">
				<a class= "stopots__card" href="https://stopots.com/es/"target="_blank">
				<div class = "card">
				<div class = "image">
					<img href = "Stopots" src = https://media2.giphy.com/media/U8SpZ5ZkzmvsIvdbn2/giphy.gif?cid=790b761106cfa7a5999d6ac4a3188441908293939b2ed47a&rid=giphy.gif&ct=s>
				</div>
				<div class = "content">
					<h3>Stopots</h3>
					<p>Stopots es un juego tipo TuttiFrutti, donde podremos crear salas privadas con categorías personalizadas (Recomendamos crear categorías con chistes internos del grupo). Al final de cada ronda se votan las respuestas.</p>
				</div>
				</div>
			</div>
				<div class = "container__juegos">
					<a class= "shellshock__card" href="https://shellshock.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "ShellShocker" src = https://img.poki.com/cdn-cgi/image/quality=78,width=682,height=603,fit=cover,f=auto/bf22f04ef17a0a3da5dbedef9ac353af.png>
					</div>
					<div class = "content">
						<h3>Shell Shockers</h3>
						<p>Shell Shockers es un FPS (First Person Shooter) basado en huevos, con distintos modos de juego multijugador en salas privadas o públicas. ¡Ideal para jugar armando equipos o en un todos contra todos!</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "smashkarts__card" href="https://smashkarts.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "SmashKarts" src = https://img.poki.com/cdn-cgi/image/quality=78,width=600,height=600,fit=cover,f=auto/9c9e529b14731be871b07b89660bbc2a.png>
					</div>
					<div class = "content">
						<h3>Smash Karts</h3>
						<p>Smash Karts es un Arena Battler con toques de Mario Kart en grupos, donde controlamos un personaje con su coche y vamos recolectando cajas con armas misteriosas para ganarle al equipo contrario.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "bulletbonanza__card" href="https://www.bulletbonanza.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "Bulletbonanza" src = https://www.gamenora.com/upload/games/thumbnails/Bullet%20Bonanza.webp>
					</div>
					<div class = "content">
						<h3>Bullet Bonanza</h3>
						<p>Bullet Bonanza es un FPS (First Person Shooter) frenético y con personajes caricaturescos, con varias armas esparcidas por el mapa. ¡Podes crear salas privadas y competir por quién lleva la mejor racha de asesinatos del grupo!</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "krunker__card" href="https://krunker.io"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "Krunker" src = https://preview.redd.it/17xsk8x20qs51.png?auto=webp&s=19ce1c5e8f1f4486fffc36dfe81ec9cc1d109664>
					</div>
					<div class = "content">
						<h3>Krunker.io</h3>
						<p>Krunker.io es un FPS (First Person Shooter) con gráficos estilo Minecraft y miles de mapas temáticos creados por la comunidad, ideal para los que les gusta tryhardear un poquito más en los juegos de tiros.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "haxball__card" href="https://www.haxball.com"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "Haxball" src = https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b9ed81e2-fe8b-4139-8830-35dabc5256fa/dbl5xzi-63bb9047-abc4-4df0-91b8-ecbe5c7b3a50.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I5ZWQ4MWUyLWZlOGItNDEzOS04ODMwLTM1ZGFiYzUyNTZmYVwvZGJsNXh6aS02M2JiOTA0Ny1hYmM0LTRkZjAtOTFiOC1lY2JlNWM3YjNhNTAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.UmOFQj1ubvVTY97kSQjpTpiyKOanzV0R2rg9EDu8V8E>
					</div>
					<div class = "content">
						<h3>HaxBall</h3>
						<p>Haxball es un juego de fútbol sencillo pero adictivo con distintos modos donde podremos armar equipos para hacer la mayor cantidad de goles.</p>
					</div>
					</div>
				</div>
				<div class = "container__juegos">
					<a class= "jklm__card" href="https://jklm.fun"target="_blank">
					<div class = "card">
					<div class = "image">
						<img href = "jklm" src = https://jklm.fun/images/icon512.png>
					</div>
					<div class = "content">
						<h3>Jklm.fun</h3>
						<p>Jklm.fun es una plataforma que actualmente cuenta con 2 juegos: BombParty donde se arma una ronda y hay que decir palabras que tengan la sílaba que nos indican antes de que explote la bomba. Y PopSauce que es una trivia de temas varios.</p>
					</div>
					</div>
				</div>
		</div>
	</header>
</body>
</html>