<!DOCTYPE html>
<html>
<head>
	<title>Temas</title>
	<link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="nav container">
		<div class="nav__logo">
			<h2 class="nav__title">TA TOOLS</h2>
		</div>
		<ul class="nav__link nav__link--menu">
			<li class="nav__items">
					<a href="/" class="nav__links" id="boton__inicio">Inicio</a>
				</li>
				<li class="nav__items">
					<a href="/juegos" class="nav__links">Juegos</a>
				</li>
				<li class="nav__items">
					<a href="/temas" class="nav__links">Temas</a>
				</li>
				<li class="nav__items">
					<a href="/form" class="nav__links" id="boton__form">Form</a>
				</li>
				<li class="nav__items">
					<a href="/datos" class="nav__links">Datos</a>
				</li>
				<li class="nav__items">
					<a href="/asistencia" class="nav__links">Asistencia</a>
				</li>
		</ul>
	</nav>

	<div class="container temas__container">
		<div class="seccion__temas">
			<div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>¿Qué es lo que no te gusta de estudiar?</p></div>
			   </div>
			 </div>
			<div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <h4>¿Team invierno o team verano? ¿Por qué?</h4></div>
			   </div>
			 </div>
			 <div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>¿Que comprarías si no existiera límite de dinero?</p></div>
			   </div>
			 </div>
			 <div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>¿Qué cosas te divertían antes y ya no?</p></div>
			   </div>
			 </div>
			 <div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>¿Cómo es para vos un muy buen día?</p></div>
			   </div>
			 </div>
			 <div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>¿Te gustaría ver el futuro?</p></div>
			   </div>
			 </div>
			 <div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>¿Te irías a vivir al exterior sólo?</p></div>
			   </div>
			 </div>
			 <div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>¿Qué es lo que más te gusta de vos?</p></div>
			   </div>
			 </div>
			 <div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>¿Te gusta más dar regalos o recibirlos?</p></div>
			   </div>
			 </div>
			 <div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>¿Algún sueño que tengas por cumplir?</p></div>
			   </div>
			 </div>
			 <div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>¿Trabajas mejor durante el día o durante la noche?</p></div>
			   </div>
			 </div>
			 <div class="seccion__temas__flip__card">
			   <div class="seccion__temas__flip__card__inner">
			     <div class="seccion__temas__flip__card__front">
			       <h4>?????????</h4></div>
			     <div class="seccion__temas__flip__card__back">
			       <p>Contá alguna anécdota divertida estando de fiesta</p></div>
			   </div>
			 </div>
		</div>
		<div class="aside__temas">
			<div class="lista__aside__temas">
				<h1>Link a actividades divertidas</h1>
				<ul>
					<li><h4><a href="https://docs.google.com/document/d/19Z95Q2gPaEFuwZJLYCC_66MUTHxAsHsRLjB5e-nl78E/edit" target="BLANK">Si de repente fueramos todos objetos</a></h4></li>
					<li><h4><a href="https://docs.google.com/document/d/1vSBJ2ccGo6rC-cFCY5V4OFfi42h7zLH1i2AggmpGTms/edit" target="BLANK">Adivina, adivinador...</a></h4></li>
					<li><h4><a href="https://docs.google.com/document/d/1CtqcKKXjMsl2_0avbkTCnPkNmZcMQYiOMk1hWOCwDiY/edit" target="BLANK">El detective</a></h4></li>
					<li><h4><a href="https://docs.google.com/document/d/1m7RvfagBCqfhYAadQKitPdBRME7GFMhZCngU6qGTNmk/edit" target="BLANK">Improvisando ando!</a></h4></li>
					<li><h4><a href="https://docs.google.com/document/d/1nboODCuqmXXMqooMynUnIQQdwFMH1n1SKU1DqJy7xf0/edit" target="BLANK">Inversión de papeles</a></h4></li>
					<li><h4><a href="https://docs.google.com/spreadsheets/d/1PQ9VCKHDuzzxiYH3YMwCk7wT2wtqGzjaL97kJKlrRX4/edit#gid=0" target="BLANK">Preguntas varias</a></h4></li>
				</ul>
			</div>
		</div>
	</div>



	<script type="text/javascript" src="js/script.js"></script>

</body>
</html>

